# https://clang.llvm.org/extra/clang-tidy/
# https://stackoverflow.com/questions/70081393/clang-tidy-config-format
Checks: '-*,
         bugprone-*,
         -bugprone-easily-swappable-parameters,
         cert-*,
         clang-analyzer-*,
         concurrency-*,
         cppcoreguidelines-*,
         hicpp-*,
         -hicpp-braces-around-statements,
         -hicpp-named-parameter,
         modernize-*,
         -modernize-use-trailing-return-type,
         -modernize-concat-nested-namespaces,
         performance-*,
         portability-*,
         readability-*,
         -readability-identifier-length,
         -readability-named-parameter,
         -readability-braces-around-statements'
# Similar to --header-filter=<string> but can be overridden by that.
# Regular expression matching the names of the headers to output diagnostics from. 
# Diagnostics from the main file of each translation unit are always displayed.
HeaderFilterRegex: '.*'
